.container {
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  background: white;
  border-radius: 1em;
  box-shadow: 0 0.125em 0.5em rgba(0,0,0,0.05);
}

.imageWrapper {
  flex-shrink: 0;
  width: 10em;
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageWrapper svg,
.imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex: 1;
  align-items: flex-start;
}

.title {
  font-size: 1.75em;
  font-weight: 700;
  margin: 0;
  color: hsla(0, 0%, 15%, 1);
}

.description {
  font-size: 1em;
  line-height: 1.6;
  margin: 0;
  color: hsla(0, 0%, 40%, 1);
}
