.container {
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  background: white;
  border-radius: 1em;
  box-shadow: none;
  border: 1px solid transparent;
  transition: box-shadow 0.3s, outline 0.3s, transform 0.3s;
  box-sizing: border-box;
}

.container:has(button:hover) {
  box-shadow: 0 0.125em 0.5em rgba(0,0,0,0.2);
  outline: 2px solid hsla(19, 100%, 50%, 1);
  transform: translate(0, -20px);
}

.imageWrapper {
  flex-shrink: 0;
  width: 10em;
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageWrapper svg,
.imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  flex: 1;
  align-items: flex-start;
}

.title {
  font-size: 1.25em;
  font-weight: 700;
  margin: 0;
  color: hsla(0, 0%, 15%, 1);
}

.description {
  font-size: 1em;
  line-height: 1.6;
  margin: 0;
  color: hsla(0, 0%, 40%, 1);
  margin-bottom: .25em;
}

@media (max-width: 640px) {
  .container {
    padding: 1.25em;
    gap: 1.25em;
  }

  .imageWrapper {
    width: 7em;
    height: 7em;
  }
}
