@font-face {
  font-family: 'Public Sans';
  src: url('./assets/fonts/public_sans/PublicSans.ttf') format('truetype');
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

#root {
  width: 100%;
  overflow-x: hidden;
}

:root {
  font-family: 'Public Sans', system-ui, sans-serif;

  color: hsla(0, 0%, 0%, 1);
  background-color: hsla(0, 0%, 98%, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
