.card {
  background: hsla(0, 0%, 25%, 1);
  border-radius: 1em;
  padding: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
  gap: .6em;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.category {
  font-size: 0.875em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: hsla(0, 0%, 70%, 1);
  font-weight: 400;
}

.title {
  font-size: 1.125em;
  font-weight: 700;
  line-height: 1.4;
  color: white;
  margin: 0;
  margin-bottom: .4em;
}

@media (max-width: 640px) {
  .card {
    padding: 1em;
  }
}
